<div class="header">
    {{serviceCat.name}} - {{listing.business_name}}
</div>

<div class="card">

    <div class="profile-detail">
        <div *ngIf="listing.trusted" class="profile-header">
            <div>Trusted by us</div>
            <div class="star-filled">
                <img src="star_filled.png" alt="">
            </div>
        </div>

        <div class="profile-icon">
            <img src="icon.png" alt="">
        </div>

        <div class="profile-rating">
            <div class="profile-rating-star">
                <img src="stars.png" alt="">
            </div>
            <span>{{avgRating.toFixed(1)}}</span>
        </div>
    </div>


    <div class="desc">
        {{listing.description}}
    </div>

    <div class="price-info" *ngIf="listing.fixed_price > 0">
        <div class="price-label">Price to open inquiry:</div>
        <div class="price-value">€{{listing.fixed_price}}</div>
    </div>
    <div class="price-info free" *ngIf="listing.fixed_price == 0">
        <div class="price-label">Free to inquire</div>
    </div>

    <div class="bottom-sec" [ngClass]="{'bottom-sec-margin-top': listing.description === ''}">
        <div class="ratings">
            <div *ngFor="let rev of reviews" class="rating-card"
            [ngClass]="{
                'low-rating-bg': rev.rating<2.5,
                'high-rating-bg': rev.rating>2.5,
              }">
                <div class="rating-desc">
                    {{rev.comment}}
                </div>
                <div class="rating">
                    <div class="star">
                        <img src="stars.png" alt="">
                    </div>
                    <div class="score">{{rev.rating}}</div>
                    <div style="visibility: hidden">...</div>

                    <button
                        type="button"
                        class="btn btn-link"
                        ngbTooltip="Contact Reviewer"
                        style="cursor: pointer"
                        (click)="openContactWithReviewerForm(rev)"
                    >
                        <i style="color: black; font-size: xx-large" class="bi bi-chat-dots"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="btns">
            <div class="inquire" (click)="openInquiryWindow()">                Inquire
            </div>
            <div class="back" (click)="goBack()">
                Back
            </div>
            <div class="report">
                Report
            </div>
        </div>
    </div>
</div>
