.topbar-font-color {
    color: white !important;
}

.topbar-ul {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.nav-item {
    padding-bottom: 5% !important;
}
