<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #5EB8B0; padding: unset">
    <div class="container-fluid" style="background-color: #5EB8B0; padding: 0.0rem">
        <a class="navbar-brand" href="#">
            <span class="topbar-font-color" style="font-size: xx-large; font-weight: bold">Urban Life Hub</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 topbar-ul">
                <li class="nav-item">
                    <a class="nav-link active topbar-font-color" aria-current="page" href="/home">
                        <i class="bi bi-house" style="font-size: 2rem; cursor: pointer" ngbTooltip="Home"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link topbar-font-color" style="font-size: x-large; font-weight: bold" href="/about">
                        <i class="bi bi-info-circle" style="font-size: 2rem; cursor: pointer" ngbTooltip="About"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link topbar-font-color" style="font-size: x-large; font-weight: bold" href="/p2p">
                        <i class="bi bi-wechat" style="font-size: 2rem; cursor: pointer" ngbTooltip="Customer to Customer"></i>
                    </a>
                </li>

                <!-- Inquiry Page -->
                <li class="nav-item">
                    <a class="nav-link active topbar-font-color" aria-current="page" href="/inquiry">
                        <i class="bi bi-chat-left-dots" style="font-size: 2rem; cursor: pointer" ngbTooltip="Inquiry"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active topbar-font-color" aria-current="page" href="/profile">
                        <i class="bi bi-person-circle" style="font-size: 2rem; cursor: pointer" ngbTooltip="Profile"></i>
                    </a>
                </li>

<!--                <li class="nav-item" *ngIf="!isLoggedIn">-->
<!--                    <a class="nav-link active topbar-font-color" aria-current="page" href="/login">-->
<!--                        <i class="bi bi-key" style="font-size: 2rem; cursor: pointer" ngbTooltip="Login"></i>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="nav-item" *ngIf="!isLoggedIn">-->
<!--                    <a class="nav-link active topbar-font-color" aria-current="page" href="/sign-up">-->
<!--                        <i class="bi bi-file-earmark-person" style="font-size: 2rem; cursor: pointer" ngbTooltip="Sign-Up"></i>-->
<!--                    </a>-->
<!--                </li>-->

                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link active topbar-font-color" aria-current="page" href="/login">
                        <i class="bi bi-box-arrow-right" style="font-size: 2rem; cursor: pointer" (click)="logOut()" ngbTooltip="Log Out"></i>
                    </a>
                </li>
            </ul>

            <!-- Display Logged-In User and Role -->
            <span *ngIf="isLoggedIn">Logged In: {{current_user_login}}</span>
            <span *ngIf="isLoggedIn" style="font-style: italic; text-decoration: underline">({{current_user_role}})</span>

        </div>
    </div>
</nav>