<div class="d-flex" id="wrapper" [class.disabled]="inquiry_list.length === 0">
    <!-- Sidebar -->
    <div class="bg-dark text-white" id="sidebar">
        <div class="sidebar-heading p-4">
            <h3 style="font-size: xxx-large; font-weight: bold">Inquiries</h3>
        </div>
        <div class="list-group list-group-flush">
            <li *ngFor="let inquiry of inquiry_list"
                class="list-group-item list-group-item-action inquiry-recipient"
                (click)="startPolling(inquiry)"
            >
                <div style="opacity: 0">..</div>
                <img
                    class="dp-thumbnail"
                    src="{{placeholder_dp}}"
                    alt="DP"
                    width="40px"
                >
                <div style="opacity: 0">..</div>
                <div class="inquiry-recipient-name">{{ getInquiryName(inquiry) }}</div>
                <div style="opacity: 0">..</div>
                <div style="{{isClosedInquiry(inquiry)}}">
                    <i class="bi bi-c-circle" ngbTooltip="Closed"></i>
                </div>
                <div style="opacity: 0">..</div>
                <div style="{{markAsVisibleInquiry(inquiry)}}">
                    <i class="bi bi-broadcast"></i>
                </div>
            </li>
        </div>

        <div class="list-group list-group-flush" style="opacity: 0">
            <li *ngFor="let user of additionalHeightUnderMessages" class="list-group-item list-group-item-action inquiry-recipient" style="cursor:unset;">
                <div class="inquiry-recipient-name">{{ user.id }}</div>
            </li>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid inquiry-message-area" style="height: 100%; padding: unset">
            <p class="customer-name-under-topbar">
                <img
                    class="dp-thumbnail"
                    src="{{placeholder_dp}}"
                    alt="DP"
                    width="60px"
                >
                <span style="opacity: 0">..</span>
                {{ getInquiryName(selectedRecipient) }}
                <span style="opacity: 0">..</span>
                <span style="font-size: x-large; cursor: pointer; {{showInquiryCloseButton(selectedRecipient)}}">
                    <button
                        type="button"
                        class="btn btn-outline-secondary"
                        [ngbPopover]="popoverContent"
                        #p="ngbPopover"
                        placement="right"
                        id="closeInquiryButton"
                    >
                        Close
                    </button>

                    <ng-template #popoverContent>
                      <p>You are about to close this inquiry. <br/> Are you sure?</p>
                      <div class="d-flex justify-content-evenly">
                        <button class="btn btn-success btn-sm" (click)="acceptClose(p)">Yes</button>
                        <button class="btn btn-danger btn-sm" (click)="rejectClose(p)">No</button>
                      </div>
                    </ng-template>

                </span>
            </p>

            <!-- Chat Area -->
            <div class="messages" id="messages" #messageContainer>
                <div *ngFor="let item of textMessages" class="single-message {{getSingleMessageClass(item)}}">
<!--                    <hr/>-->
                    <span>{{ item.content }}</span>
                </div>

                <div style="opacity: 0">This is a placeholder text for better space allocation and decoration.</div>
                <div *ngIf="lastAcceptedOrDeclinedRequest" class="mark-completed">{{lastAcceptedOrDeclinedRequestText}}</div>
                <div *ngIf="paymentRequestReceived" class="mark-completed">
                    <span>{{paymentRequestReceivedText}}</span>&nbsp;
                    <a
                        style="font-style: italic; text-decoration: underline; color: #007BE5; cursor: pointer"
                        (click)="viewPaymentRequest()"
                    >
                        See Details
                    </a>
                </div>
                <div *ngIf="paymentRequestSent" class="mark-completed">{{paymentRequestSentText}}</div>
                <div style="opacity: 0">This is a placeholder text for better space allocation and decoration.</div>
                <div *ngIf="currentInquiryOpenOrClosed" class="mark-completed">Service Marked As Completed, Moderator Ended The Chat.</div>
                <div *ngFor="let item of additionalHeightUnderMessages" class="single-message" style="opacity: 0">
<!--                    This is a placeholder <div/> for better space allocation and decoration.-->
                    <span>{{item.id}}</span>
                </div>
            </div>
            <!-- Text Input Area -->
            <div class="message-input">
                <i
                    *ngIf="shouldRequestPaymentButtonBeVisible()"
                    (click)="openRequestPaymentView()"
                    class="bi bi-cash-coin ask-payment"
                    ngbTooltip="Request Payment"
                    style="{{currentInquiryOpenOrClosed ? 'color: gray; pointer-events: none' : ''}}"
                ></i>
                <input
                    (keyup.enter)="sendMessage()"
                    type="text"
                    id="messageInput"
                    class="form-control {{getShouldBeDisabled()}}"
                    placeholder="Write Something.."
                    [(ngModel)]="messageText"
                    [disabled]="currentInquiryOpenOrClosed"
                />
            </div>
        </div>
    </div>
</div>
