<div *ngIf="isSubmitting" class="overlay">
    <div class="spinner-border text-primary loader" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<div class="main">
    <form [formGroup]="blogForm" >

        <!-- Title -->
        <div class="title">
            <label class="label">Title</label>
            <input type="text" class="title-field" formControlName="title">
            <div class="error" *ngIf="blogForm.controls['title'].touched && blogForm.controls['title'].invalid">
                <span *ngIf="blogForm.controls['title'].errors?.['required']">Title is required.</span>
            </div>
        </div>

        <!-- Category -->
        <div class="category">
            <label class="label">Category</label>
            <select formControlName="category" class="category-field form-select">
                <option *ngFor="let category of categories" [value]="category.id">
                    {{ category.name }}
                </option>
            </select>
            <div class="error" *ngIf="blogForm.controls['category'].touched && blogForm.controls['category'].invalid">
                <span>Category is required.</span>
            </div>
        </div>

        <!-- Content -->
        <div class="content">
            <label class="label">Content</label>
            <div class="markdown-info">
                <p><i class="bi bi-info-circle"></i> You can use Markdown formatting in your blog post content. 
                   <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">Learn Markdown syntax</a></p>
            </div>
            <quill-editor formControlName="content"></quill-editor>
            <div class="error" *ngIf="blogForm.controls['content'].touched && blogForm.controls['content'].invalid">
                <span>Content is required.</span>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" (click)="onSubmit()">Submit</button>

        <!-- API Error -->
        <div class="error" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>

    </form>
</div>