<span class="home-container">
    <p class="home-container-header">Our Services</p>

    <div class="container">
        <div class="row grid-layout">
        <div *ngFor="let service of filteredCategories"
            [ngStyle]="{
            'grid-column': 'span 1',
            'background-image': 'url(assets/banners/' + service.name.toLowerCase() + '.png)',
            'background-size': 'cover',
            'background-position': 'center'
            }"
            class="square"
            (click)="NavigateToServiceListing(service)">
<!--            {{ service.name }}-->
        </div>
        <!-- Display 'Other' Category -->
        <div *ngIf="hasOtherCategories"
             [ngStyle]="{
            'background-image': 'url(assets/banners/other.png)',
            'font-size': '100px',
            'font-weight': '550',
            'color': 'honeydew'
            }"
             class="square other-category"
             (click)="NavigateToServiceListing(otherCategories)">
           Other
        </div>
        </div>
    </div>

    <h1 style="visibility: hidden">HI</h1>

    <p class="home-container-header">Blogs</p>
    <div
        style="
            background-image: url('assets/banners/adulting 101.png');
            color: white;
            font-family: 'Outfit', sans-serif;
        "
        (click)="navigateToBlogs()"
         class="adulting-101-banner">
        ADULTING 101
    </div>

    <h1 style="visibility: hidden">HI</h1>

    <p class="home-container-header">Who are we</p>
    <div class="container">
        <div class="row d-flex flex-wrap">
            <div *ngFor="let aboutUs of aboutUsItems"
                 [ngStyle]="{
                    'flex-basis': aboutUs.size,
                    'grid-column': 'span 1',
                    'background-image': 'url(' + aboutUs?.img + ')',
                    'background-size': 'cover',
                    'background-position': 'center'
                 }"
                 class="about-us-square {{aboutUs?.className}}"
                 [innerHTML]="aboutUs?.value"
            >

            </div>
        </div>
    </div>

    <h1 style="visibility: hidden">HI</h1>
</span>

<p class="home-container-footer">
    <span><i class="bi bi-microsoft-teams"> Group 11</i>️</span>
</p>
